/* font-family: 'Open Sans', sans-serif; */

body {
    background-image: url(images/gradient.png);
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    padding: 10px;
}

h1 {
    color:white;
}

.title {
    color: #b2d9e2;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;

}

.textbox {
    top: 300px;
    left: 450px;
    position: relative;
    display: flex;
    height: 4rem;
    width: 400px;
    border: 0;
    border-radius: 4rem;
    background-color: lightgray;
;
}

span {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: grid;
    place-items: center;
    height: 3rem;
    width: 6rem;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: inherit;
    background: #3a8ced;
    color: #ffffff;
    pointer-events: none;
    transition: all 0.35s;
}

input {
    flex: 1 1 auto;
    padding-left: 6.5rem;
    height: inherit;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 1rem;
    text-indent: 0.625rem;
    transition: all 0.35s;
   
}

input, select, textarea{
    color: black;
}

input::placeholder { color: #9b9ba5;}

input:focus { transform: translateX(-6rem);}

input:focus ~ span {
    transform: translateY(-4rem);
}