/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; 
*/

html, body {
    margin: 0;
    height: 100%; 
    overflow: hidden
}

body {
    background-color: #07141D;
    margin: auto;
    padding: 10px;
}

h1 {
    color:white;
}

/* Title */
.title {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    left: 450px;
    top: 30px;
    text-align: left;
    font-size: 50px;
}

.name {
    color: #00ADCC;
   
}

/* First Name TextBox */
.textbox {
    position: relative;
    top: 70px;
    left: 490px;
}

input {
    width: 20rem;
    height: 2.5rem;
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #585858;
    color: black;
  }
  
  .validation {
    position: absolute;
    bottom: 3.5rem;
    display: flex;
    align-items: center;
    height: 2rem;
    padding: 0 0.5rem;
    opacity: 0;
    transform: translateY(0.75rem);
    border-radius: 1.5rem;
    background: #fd4444;
    color: #f9f9f9;
    transition: all 0.35s;
  }

  .validation::after {
      content: "";
      position: absolute;
      left: 15px;
      bottom: -2px;
      width: 4px;
      height: 4px;
      transform: rotate(45deg);
      background: inherit;
  }
  
  input:valid{
    border-color: #55d688;
  }
  input:invalid ~ .validation {
    opacity: 1;
    transform: translateY(0);
  }

/* Go Button */
.goButton {
    position: relative;
    left: 700px;
    top: 130px;
    cursor:pointer;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    font-family: 'Raleway', sans-serif; 
    font-weight: 200;
    border-radius: 1.5rem;
    border-width: 1px;
    border-color: #7e7e7e;
    border-style: solid;
    background: #ababac49;
    background-size: 400%;
    color: #ffffff;
    animation-name: fadeInAnimation;
    animation-delay: 150ms;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.goButton:hover {
    border: 1px solid  #ffffff;
    cursor:pointer;
        }

.goButton:hover::before {
    transform: scaleX(1);
}

.goButton-content {
    position: relative;
    z-index: 1;
}

.goButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
        83.2deg,
        rgb(58, 127, 173) 10.8%,
        rgb(0, 173, 204) 94.35%
    );
    transition: all 0.475s;
}

/* Skip Button */
.skipButton {
    position: relative;
    left: 400px;
    top: 130px;
    cursor:pointer;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    font-family: 'Raleway', sans-serif; 
    font-weight: 200;
    border-radius: 1.5rem;
    border-color: #7e7e7e;
    border-width: 1px;
    border-style: solid;
    background: #ababac49;
    background-size: 400%;
    color: #ffffff;
    animation-name: fadeInAnimation;
    animation-delay: 150ms;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.skipButton:hover {
    border: 1px solid  #ffffff;
    cursor:pointer;
        }

@keyframes fadeInAnimation {
    0% {
         opacity: 0;
        }
    100% {
         opacity: 1;
        }
}